@import "./animations";

body, html {
  overflow: hidden;
  overflow-y: auto;
}
body {
  font-family: Roboto,sans-serif;
  font-weight: normal;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
ul, ol, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
.bold {
  font-weight: bold;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
textarea {
  resize: none;
}
input,
select,
button,
textarea {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input {
  border: 0;
  padding: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
*, *::before, *::after {
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
img {
  max-width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.content {
  flex: 1 0 auto;
}
.container {
  max-width: 600px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
}

.vs-popup--content {
  .pop-up-btn {
    width: 50%;
  }
  .pop-up-text {
    margin-bottom: 10px;
  }
}

.app {
  .vs-con-input-label {
    width: 100%;
  }
  .vs-input--placeholder {
    top: auto;
  }
  .vs-input--input {
    height: 35px;
  }
}
